$black:                  #292f33;
$gray-darker:            #3b444a; 
$gray-dark:              #464b4e;
$gray:                   #999c9d;
$gray-light:             #c4c8ca;
$gray-lighter:           #EAEAEA;
$gray-lightest:          #F7F7F7;
$white:                  #FFFFFF;

$gold:					         #DFAE56;
$gold-dark:              #766953;
$navy:                   #36405A;
$navy-dark:              #282A30;